@import "../../../styles/fluid.scss";

.input-and-error-message-container {
  .input-with-custom-placeholder {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border-radius: 0;
    }

    .input-field {
      width: 550px;

      /* fallback, if needed, then responsive property(ies) */
      height: 40px;
      font-size: 22px;
      line-height: 27px;
      padding-left: 20px;

      border: 2px solid #9a2fae;
      background-color: transparent;

      @media all and (max-width: 1800px) {
        margin-left: 10px;
      }
    }

    .input-field:hover,
    .input-field:focus {
      outline: 2.2px solid #9a2fae;
      background-color: lightcyan;
    }

    .input-field-error {
      background-color: rgb(245, 237, 214);
    }

    .input-field-error:hover,
    .input-field-error:focus {
      background-color: rgb(245, 237, 214);
    }

    .input-field-ok {
      background-color: rgba(110, 252, 140, 0.432);
    }

    .input-decorations-container {
      display: flex;
      align-items: center;
      position: absolute;
      pointer-events: none;

      .input-placeholder {
        pointer-events: none;

        /* fallback, if needed, then responsive property(ies) */
        margin-left: 45px;
        font-size: 22px;
      }
    }

    .icon-eye {
      position: absolute;

      color: #9a2fae;
      cursor: pointer;

      /* fallback, if needed, then responsive property(ies) */
      font-size: 24px;
      right: 45px;
    }

    .input-ok-message-container {
      position: absolute;

      /* fallback, if needed, then responsive property(ies) */
      right: -40px;
      bottom: 17px;

      font-size: 18px;
      text-align: end;

      .fa-check-circle {
        color: #9a2fae;
        /* fallback, if needed, then responsive property(ies) */
        font-size: 36px;
      }
    }
  }

  .input-error-message-container {
    color: rgb(255, 136, 0);
    text-align: end;
    margin-bottom: -29px;

    /* fallback, if needed, then responsive property(ies) */
    font-size: 18px;
    margin-top: 10px;
  }
}
