.purchases {
  .add-button {
    background-color: #9a2fae !important;
    border-radius: 0;
    text-transform: none;

    font-family: "Roboto", sans-serif !important;
  }
  .add-icon {
    transform: scale(1.6);
  }
}
