.add-product-form {
  width: 310px;
  height: 550px;
  margin-top: -40px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 2px 10px 0 #5d5162b0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .form-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2.5px;
  }

  .form-content {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: -70px;

    .form-content-middle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 250px;

      .name-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 20px;
      }

      .priority-and-quantity {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .priority-input {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 30px;
        }
      }

      .exact-input {
        font-size: 18px;
        display: flex;
        align-items: flex-end;

        .exact-input-label {
          margin-left: 10px;
        }
      }
    }
  }

  .input-container {
    width: 273px;
    height: 42.88px;
    margin-bottom: 20px;
  }
  // .name-input {
  //   .store-input {

  //   }
  // }

  .input-ok-message-container {
    display: none;
  }
}
