.search-bar-with-icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2px;

  font: size 14px;

  border-radius: 0;
  box-shadow: none !important;
  background-color: transparent !important;

  .input-icon {
    padding: 3px;
  }
}
