@import "../../styles/fluid";

.register-organization-owner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  padding-right: 100px;
}

.left-graphics {
  width: 55%;
  position: relative;

  .pink-background {
    @include fluid-width(850px, 960px, 410px, 473px);

    height: auto;
  }

  .basket {
    position: absolute;
    left: 170px;
    top: 130px;
  }

  .human {
    position: absolute;
    top: 100px;
    left: -10px;
    height: 250px;
    width: auto;
  }
}
