@import "../../styles/fluid.scss";

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  padding-right: 25px;
  padding-left: 25px;

  width: 95%;
  height: 90vh;
  margin-top: 50px;
  @include fluid-margin-top(700px, 1440px, 10px, 50px);
  box-shadow: 0 0 10px #d2198d8f;

  @media all and (max-width: 650px) {
    margin: 30 auto;
    padding: 20px !important;
    padding-top: 30px !important;
    margin-top: 30px;
    height: auto;
    width: fit-content;
    box-shadow: none;
  }

  .right {
    position: relative;

    .about-menu {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      position: absolute;
      top: 0;
      right: 0;

      display: flex;
      justify-content: space-between;
      margin-right: 70px;
      margin-top: 40px;

      width: 430px;
    }
  }
}
