.navbar {
  width: 100vw;
  height: 67px;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(103, 63, 180);
  background: linear-gradient(
    180deg,
    rgba(103, 63, 180, 1) 0%,
    rgba(151, 47, 174, 1) 100%
  );
  box-shadow: 0px 3px 7px 0.5px #5d5162b0;

  .left-section {
    display: flex;
    align-items: center;

    .user-info {
      margin-left: 10px;
      color: white;

      .username {
        letter-spacing: 2.8px;
        font-weight: 700;
      }

      .organization-name {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;
      }
    }
  }
}
