.filter-button {
  .button {
    background-color: #9a2fae !important;
    border-radius: 0;
    text-transform: none;
    letter-spacing: 2.5px;
    font-size: 20px;

    width: 120px;
    height: 40px;
  }
}
