.shopping-bag-with-items-count {
  position: relative;

  .shopping-bag-red-circle {
    position: absolute;
    top: 2px;
    right: -10px;
  }

  .shopping-bag-green-circle {
    position: absolute;
    top: 21px;
    right: -14px;
  }
}
