.login-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .top-icon {
    width: 198px;
    height: auto;
    margin-top: -20px;

    .top-icon-image {
      width: 100%;
    }
  }

  .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    .input-container {
      width: 250px;
      height: 40px;
      margin-bottom: 30px;
    }

    .links-container {
      margin-top: -12px;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .login-submit,
      .signup {
        font-family: "Malgun Ghotic", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #9a2fae;
        cursor: pointer;
      }

      .slogan {
        margin-top: 12px;
        display: flex;
        align-items: center;
        font-family: "Malgun Ghotic", sans-serif;
        letter-spacing: 1.4px;
        .star {
          color: #9a2fae;
          margin-left: 3px;
        }
      }
    }
  }
}
